<?php

/**
* Configuration file for phangoapp
*/

/**
* Global configuration
*/

//The base path where phango is installed. You can leave this value or get the real absolute path.

PhangoVar::$base_path=\getcwd();

/*
* Configure routes and apps
*/

//The default app. The place where phangoapp begin by default...

Routes::$root_url='/';

Routes::$app='app';

Routes::$apps=['app', 'admin', 'lang'];

/**
* Configure database. You can configure multiple databases for different models.
*/ 

Webmodel::$host_db['default']='localhost';
	
Webmodel::$db['default']='phangodb';

Webmodel::$login_db['default']='root';

Webmodel::$pass_db['default']='';

/**
* Property that define the static when you will go to production.
*/

View::$url_media='/media';

//View::$root_path=PhangoVar::$base_path;

/**
* Property for define the theme.
* 
*/

View::$folder_env=array('views/default');

/**
* With this method set the media files to production if the argument is true. By default is false.
* @warning Never forget set this method when you are going to production
*/

View::setProduction(false);


/**
* Configure default internazionalitation
*/

I18n::$arr_i18n=array('es-ES', 'en-US');

I18n::$language='en-US';

/**
* Standard configurations constants. 
*/

//The cookie path used by cookies in phango

define('COOKIE_PATH', Routes::$root_url);

//The name of the cookie

define('COOKIE_NAME', 'phango');

//The folder of admin

define('ADMIN_FOLDER', 'admin');

//The timezone

define('MY_TIMEZONE', 'America/New_York');

?>