<?php

/**
* Configuration file for phangoapp
*/

namespace PhangoApp\Config;

use PhangoApp\PhaRouter\Routes;
use PhangoApp\PhaModels\Webmodel;
use PhangoApp\PhaView\View;
use PhangoApp\PhaI18n\I18n;

/*
* Configure routes and apps
*/

//The default app. The place where phangoapp begin by default...

Routes::$root_url='/';

Routes::$app='welcome';

Routes::$apps=['welcome'];

/**
* Configure database. You can configure multiple databases for different models.
*/ 

Webmodel::$host_db['default']='localhost';
	
Webmodel::$db['default']='phangoapp';

Webmodel::$login_db['default']='root';

Webmodel::$pass_db['default']='';

/**
* Property that define the static when you will go to production.
*/

View::$url_media='/media';

/**
* Property for define the theme.
* 
*/

View::$folder_env=array('views/default');

/**
* With this method set the media files to production if the argument is true. By default is false.
* @warning Never forget set this method when you are going to production
*/

View::setProduction(false);


/**
* Configure internazionalitation
*/

I18n::$arr_i18n=array('es-ES', 'en-US');

I18n::$language='en-US';

?>